In [1]:
import pandas as pd

In [9]:
df = pd.read_json(r'/opt/data/articles_list_Oct12_2020.json', orient='columns')

## Basic EDA

In [10]:
df.describe()

        _score
count  60374.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

In [11]:
df.count()

_index     60374
_type      60374
_id        60374
_score     60374
_source    60374
dtype: int64

In [12]:
df.shape

(60374, 5)

In [14]:
#print 1st column 1st row
df.iloc[0] # this is same as df[[0]].values[0][0]

_index                                              articles
_type                                                   _doc
_id                                     jzHWHnUBlmHqFksVvSCK
_score                                                     1
_source    {'url': 'http://actionnewsjax.com/news/trendin...
Name: 0, dtype: object

In [15]:
df_clean= df.drop(['_id','_score', '_type'], axis=1)

In [17]:
df_clean.shape

(60374, 2)