In [38]:
import json 
import pandas as pd
from pandas.io.json import json_normalize #package for flattening json in pandas df

In [9]:
df = pd.read_json(r'/opt/data/articles_list_Oct12_2020.json', orient='columns')

## Basic EDA

In [10]:
df.describe()

        _score
count  60374.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

In [11]:
df.count()

_index     60374
_type      60374
_id        60374
_score     60374
_source    60374
dtype: int64

In [12]:
df.shape

(60374, 5)

In [14]:
#print 1st column 1st row
df.iloc[0] # this is same as df[[0]].values[0][0]

_index                                              articles
_type                                                   _doc
_id                                     jzHWHnUBlmHqFksVvSCK
_score                                                     1
_source    {'url': 'http://actionnewsjax.com/news/trendin...
Name: 0, dtype: object

In [15]:
df_clean= df.drop(['_id','_score', '_type'], axis=1)

In [17]:
df_clean.shape

(60374, 2)

In [18]:
df_clean.head(5)

     _index                                            _source
0  articles  {'url': 'http://actionnewsjax.com/news/trendin...
1  articles  {'url': 'https://www.13newsnow.com/article/new...
2  articles  {'url': 'http://digg.com/digg-picks/link/kindl...
3  articles  {'url': 'http://sports.mynorthwest.com/1199798...
4  articles  {'url': 'https://www.aier.org/article/lockdown...

In [19]:
df_clean.iloc[0]

_index                                              articles
_source    {'url': 'http://actionnewsjax.com/news/trendin...
Name: 0, dtype: object

In [20]:
df.iloc[0]

_index                                              articles
_type                                                   _doc
_id                                     jzHWHnUBlmHqFksVvSCK
_score                                                     1
_source    {'url': 'http://actionnewsjax.com/news/trendin...
Name: 0, dtype: object

In [24]:
df.describe()

        _score
count  60374.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0

In [26]:
df.dtypes

_index     object
_type      object
_id        object
_score      int64
_source    object
dtype: object

In [32]:
#Get value within a Series
df.loc[0].at['_type']

'_doc'

In [29]:
#Get value within a Series
df.loc[0].at['_source']

{'url': 'http://actionnewsjax.com/news/trending/amy-coney-barrett-hearing-day-2-questioning-begins-livestream-live-updates/MSRUGTDZVRFO3M7PXIQC6UY45U/',
 'extracted': {'title': 'Amy Coney Barrett hearing Day 2: Questioning begins; livestream, live updates',
  'date': None,
  'authors': ['Debbie Lord',
   'Cox Media Group National Content Desk',
   'Updated',
   'October',
   '- Pm',
   'Kelli Dugan',
   'Crystal Bonvillian',
   'Brianna Chambers',
   'Theresa Seiger'],
  'text': '‚ÄúHis judicial philosophy was straightforward: A judge must apply the law as written, not as the judge wishes it were. Sometimes that approach meant reaching results that he did not like. But as he put it in one of his best-known opinions, that is what it means to say we have a government of laws, not of men.‚Äù'},
 'metadata': {'keywords': ['amy coney barrett',
   'amy coney barrett hearing',
   'what time doe the amy coney barrett hearing start',
   'what channel is the amy coney barrett hearing on',
   'livestream amy coney barrett hearing',
   'when is the vote on amy coney barrett',
   'will amy coney barrett be confirmed for the supreme court'],
  'description': 'Judge Amy Coney Barrett will face questions from the members of the Senate Judiciary Committee on Tuesday, as hearings into her nomination to the United States Supreme Court continue.',
  'language': 'en',
  'url': 'https://www.actionnewsjax.com/news/trending/amy-coney-barrett-hearing-day-2-questioning-begins-livestream-live-updates/MSRUGTDZVRFO3M7PXIQC6UY45U/',
  'dump': {'distribution': 'global',
   'rating': 'general',
   'viewport': 'width=device-width, minimum-scale=1, initial-scale=1',
   'copyright': 'Copyright (c) 2019 Cox Media Group',
   'keywords': 'amy coney barrett, amy coney barrett hearing, what time doe the amy coney barrett hearing start, what channel is the amy coney barrett hearing on, livestream amy coney barrett hearing, when is the vote on amy coney barrett, will amy coney barrett be confirmed for the supreme court',
   'news_keywords': 'amy coney barrett, amy coney barrett hearing, what time doe the amy coney barrett hearing start, what channel is the amy coney barrett hearing on, livestream amy coney barrett hearing, when is the vote on amy coney barrett, will amy coney barrett be confirmed for the supreme court',
   'date': '2020-10-12T19:44:31.492Z',
   'description': 'Judge Amy Coney Barrett will face questions from the members of the Senate Judiciary Committee on Tuesday, as hearings into her nomination to the United States Supreme Court continue.',
   'thumbnail': '‚Äúhttps://www.actionnewsjax.com/resizer/WuvIfO2RVZhggvZvrNuoqO-tf6U=/1200x628/d1hfln2sfez66z.cloudfront.net/10-12-2020/t_47e6f009fef4446a982aa13a486a570e_name_Judge_Amy_Coney_Barrett_and_Senate_Judic_5f84c5e147719e19b06ef096_1_Oct_12_2020_21_36_49_poster.jpg‚Äù/',
   'robots': 'index,follow,noarchive',
   'googlebot': 'index',
   'googlebot-news': 'index',
   'twitter': {'title': 'Amy Coney Barrett hearing Day 2: Questioning begins; livestream, live updates',
    'url': 'https://www.actionnewsjax.com/news/trending/amy-coney-barrett-hearing-day-2-questioning-begins-livestream-live-updates/MSRUGTDZVRFO3M7PXIQC6UY45U/',
    'image': 'https://www.actionnewsjax.com/resizer/WuvIfO2RVZhggvZvrNuoqO-tf6U=/1200x628/d1hfln2sfez66z.cloudfront.net/10-12-2020/t_47e6f009fef4446a982aa13a486a570e_name_Judge_Amy_Coney_Barrett_and_Senate_Judic_5f84c5e147719e19b06ef096_1_Oct_12_2020_21_36_49_poster.jpg',
    'card': 'summary_large_image',
    'description': 'Judge Amy Coney Barrett will face questions from the members of the Senate Judiciary Committee on Tuesday, as hearings into her nomination to the United States Supreme Court continue.',
    'site': '@ActionNewsJax',
    'creator': '@ActionNewsJax'},
   'og': {'url': 'https://www.actionnewsjax.com/news/trending/amy-coney-barrett-hearing-day-2-questioning-begins-livestream-live-updates/MSRUGTDZVRFO3M7PXIQC6UY45U/',
    'title': 'Amy Coney Barrett hearing Day 2: Questioning begins; livestream, live updates',
    'image': {'identifier': 'https://www.actionnewsjax.com/resizer/WuvIfO2RVZhggvZvrNuoqO-tf6U=/1200x628/d1hfln2sfez66z.cloudfront.net/10-12-2020/t_47e6f009fef4446a982aa13a486a570e_name_Judge_Amy_Coney_Barrett_and_Senate_Judic_5f84c5e147719e19b06ef096_1_Oct_12_2020_21_36_49_poster.jpg',
     'width': 1200,
     'height': 628},
    'description': 'Judge Amy Coney Barrett will face questions from the members of the Senate Judiciary Committee on Tuesday, as hearings into her nomination to the United States Supreme Court continue.',
    'locale': 'en_US',
    'site_name': 'WJAX',
    'type': 'article'},
   'article': {'opinion': 'false',
    'tag': 'cox_shared, cox_stub, cox_irresistible, dl_stub, video_added'},
   'page-type': 'article',
   'fb': {'app_id': 1354518441311456, 'pages': 115853591820469},
   'author': 'Debbie Lord, Cox Media Group National Content Desk'}},
 'source': {'url': 'http://actionnewsjax.com', 'sitename': 'WJAX'},
 'flags': {'in_graph': False, 'has_nlp': False},
 'context': {'scraper': 'newspaperbasic',
  'datetime': '2020-10-12T22:03:11.021791+00:00'}}

In [36]:
df_src=df.drop(['_index','_id','_score', '_type'], axis=1)

In [37]:
df_src.dtypes

_source    object
dtype: object

In [39]:
%%time
df_src_norm = json_normalize(df_src['_source'])

In [40]:
df_src_norm.head(3)

,url,extracted.title,extracted.date,extracted.authors,extracted.text,metadata.keywords,metadata.description,metadata.language,metadata.url,metadata.dump.distribution,...,"metadata.dump.The Echelon exercise bike is $100 off, down to $499, right now at Walmart ‚Äî and it comes with a free 6-month membership",metadata.dump.DC.source,metadata.dump.DC.date.published,metadata.dump.webit_document_id,metadata.dump.webit_document_name,metadata.dump.webit_cover_date,metadata.dump.burntime,metadata.dump.Everything we know about Ariana Grande's sixth album,metadata.dump.article_references,metadata.dump.epdf_available
0,http://actionnewsjax.com/news/trending/amy-con...,Amy Coney Barrett hearing Day 2: Questioning b...,None,"[Debbie Lord, Cox Media Group National Content...",‚ÄúHis judicial philosophy was straightforward: ...,"[amy coney barrett, amy coney barrett hearing,...",Judge Amy Coney Barrett will face questions fr...,en,https://www.actionnewsjax.com/news/trending/am...,global,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.13newsnow.com/article/news/nation-...,"Vanessa Bryant wishes Kobe, Gigi could've seen...",2020-10-12T19:24:52,"[Author, Douglas Jones, Tegna]",Vanessa Bryant wrote that she wished Kobe and ...,[],After the Los Angeles Lakers won the NBA champ...,en,https://www.13newsnow.com/article/news/nation-...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://digg.com/digg-picks/link/kindles-video-...,"Kindles, Video Doorbells And More Are On Sale ...",None,[Digg Editors],üëã Welcome to Digg\n\nThanks for creating an ac...,[],"<p>If you're a Prime member, Amazon has a nice...",en,https://digg.com/digg-picks/link/kindles-video...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN